/*! Modded HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
*{
    box-sizing: border-box;
}
body{
    width:100%;
    margin: 0;
    padding:0;
    height:100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.container_div{
    margin-top: -15px;
    padding:0;
    width: 100%;
    height: 100vh;
    }
.body_heading{
    position:fixed;
    justify-content: center;
    align-content: center;
    display:inline;
    background-color: transparent;
    margin: 35vh 30vw;
    font-size: 3em;
    opacity: 0.3;
    z-index: 110;
    font-size: 3em;
    filter: alpha(opacity=30);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
/*ghost button*/

.body_button--ghost {
    width: 2em;
    position: absolute;
    right: 0;
    align-self: baseline;
    justify-content: right;
    font-family: "Arial", sans-serif;
    text-align:center;
    padding: 0.3em;
    text-decoration: none;
    border: 1px solid #eeeeee;
    line-height: 25px;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    font-size: xx-large;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    cursor: pointer;
    zoom: 1;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 99;
  }
  .body_button--ghost:hover {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: gray;
    opacity:0.5;
    color: #ffffff;
  }
  .body_button--ghost:focus {
    outline: none;
  }
.hidden {
    display: none !important;
    visibility: hidden;
}